<main class="feed-show-page">
  <div class="heading-container">
    <h1>Feed</h1>

    <div class="new-post">
      <%= image_tag "icons/plus-cross-svgrepo-com.svg", size: "25x25" %>
      
      <div class="new-post-links">
        <p><%= link_to "Write A Post", new_post_path %></p>
        <p><%= link_to "Post An Image", new_image_post_path %></p>
      </div>
    </div>
  </div>
  
  <div class="feed-items">
    <% if @feed_items.any? %>
      <% @feed_items.each do |item| %>
        <% if item.class == Post %>
          <div>
            <%= render "posts/post", post: item %>
          </div>
        <% elsif item.class == ImagePost %>
          <div>
            <%= render "image_posts/image_post", image_post: item %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>No posts from you or your connections were found.</p>
    <% end %>
  </div>
</main>