<%= content_for(:title) { "LeisureSphere | Edit Profile" } %> 
<main class="edit-profile">
	<h1>Edit Profile</h1>
	
	<% if @profile.errors.any? %>
	  <div id="error_explanation">
		<h2><%= pluralize(@profile.errors.count, "error") %> prohibited this post from being saved:</h2>
	
		<ul>
		<% @profile.errors.full_messages.each do |msg| %>
		  <li><%= msg %></li>
		<% end %>
		</ul>
	  </div>
	<% end %>
	
	<%= form_with model:@profile do |form| %>
		<div class="form-group stack">
			<%= form.fields_for :user, current_user do |subform| %>
				<div class="form-field">
					<%= subform.label :name %>
					<%= subform.text_field :name %>
				</div>
			<% end %>
			<div class="form-field">
				<%= form.label :birthday, "Birthday" %>
				<%= form.date_field :birthday %>
			</div>
			<div class="form-field">
				<%= form.label :location, "Place of Residence" %>
				<%= form.text_field :location %>
			</div>
			<hr>
			<div class="form-field">
				<%= form.label :interests, "Interests" %>
				<%= form.text_area :interests, size: "30x5" %>
			</div>
			<hr>

			<% if @profile.profile_picture.attached? && @profile.profile_picture.representable? %>
				<div class="profile-picture-section">
					<p>Current Profile Picture</p>
					<%= image_tag @profile.profile_picture.variant(resize_to_fit: [100, 100]).processed %>
					<%= link_to "Delete and revert to Gravatar, Google or default image",
						delete_image_profile_url(image_id: @profile.profile_picture.id),
						data: { turbo_method: :delete,
						turbo_confirm: "Are you sure?" }
					%>
				</div>
			<% else %>
				<div class="profile-picture-section">
					<div class="current-picture">
						<p>Current Profile Picture </p>
						<%= image_tag @profile.avatar_url, size: "100x100" %>
					</div>
					<div class="upload-picture">
						<p>Upload A Different Picture</p>
						<%= form.file_field :profile_picture %>
					</div>
				</div>
			<% end %>

			<hr>
			<%= form.submit class:"submit" %>
		</div>
	<% end %>
</main>
