<h1>Profile Information</h1>
<img src="<%= @profile.avatar_url %>" alt="profile-picture">
<p>Username: <%= @profile.user.name %></p>
<p>Birthday: <%= @profile.birthday || "—" %></p>
<p>Place of Residence: <%= @profile.location || "—" %></p>
<p>Interests: <%= @profile.interests || "—" %></p>

<% if current_user == @profile.user %>
	<%= link_to "Edit Profile", edit_profile_path(@profile) %>
	<%= link_to "Delete Account", user_path(current_user), data: { "turbo-method": :delete } %>
<% end %>