<%= content_for(:title) { "LeisureSphere | My Profile" } %> 
<main class="profile-page">

  <h1>Profile Information</h1>
  <div class="profile-card">
    <div class="profile-information-container">
      <% if @profile.profile_picture.attached? %>
        <%= image_tag url_for(@profile.profile_picture.variant(resize_to_fit: [200, 200]).processed) %>
      <% else %>
        <%= image_tag @profile.avatar_url, size: "200x200", alt: "profile-picture"%>
      <% end %>
  
      <div class="profile-details stack">
        <p><b>Username:</b> <%= @profile.user.name %></p>
        <p><b>Birthday:</b> <%= @profile.birthday || "—" %></p>
        <p><b>Place of Residence:</b> <%= @profile.location || "—" %></p>
        <p><b>Interests: </b><%= @profile.interests || "—" %></p>
      </div>
    </div>

    <hr>

    <div class="profile-buttons">
      <% if current_user == @profile.user %>
        <%= link_to "Edit Profile", edit_profile_path(@profile) %>
        <%= link_to "Delete Account", user_path(current_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
      <% end %>
    </div>
  </div>

  <div class="profile-feed">
    <h2>My Posts</h2>
    <div class="profile-feed-items">
      <% if @feed_items.any? %>
        <% @feed_items.each do |item| %>
          <% if item.class == Post %>
            <div>
              <%= render "posts/post", post: item %>
            </div>
          <% elsif item.class == ImagePost %>
            <div>
              <%= render "image_posts/image_post", image_post: item %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>You have not posted anything yet.</p>
      <% end %>
    </div>
  </div>
</main>