<div class="feed-item">
  <div class="post-header">
    <% if post.author.profile.profile_picture.attached? %>
      <%= image_tag url_for(post.author.profile.profile_picture.variant(resize_to_fit: [40, 40]).processed), class: "profile-picture", alt: "" %>
    <% else %>
      <%= image_tag post.author.profile.avatar_url, size: "40x40", class: "profile-picture", alt:"" %>
    <% end %>

    <div class="post-meta-data">
      <p class="post-author"><%= link_to "#{post.author.name}", profile_path(post.author.profile.id) %></p>
      <p class="post-date"><%= post.created_at.strftime("%d %B %Y") %></p>
    </div>

  <% if post.author == current_user %>
    <button class="menu-button">
      <%= image_tag "icons/vecteezy_three-dots-or-more-icon_15197822.jpg", size: "30x30", class:"menu", alt:"menu" %>

      <div class="author-options">
        <p><%= link_to "Edit Post", edit_post_path(post) %></p>
        <p><%= link_to "Delete Post", post_path(post), data: { turbo_method: :delete } %></p>
      </div>
    </button>
  <% end %>
  </div>
  

  
  <p class="post-body"><%= post.body %></p>
  
  <p><%= post.likers.size %> Likes</p>
  <% if post.likers.include?(current_user) %>
    <%= link_to "Remove Like", like_path(post.likes.find_by(liker_id: current_user.id)), data: { turbo_method: :delete }%>
  <% else %>
    <%= link_to "Like", likes_path(likeable_id: post.id, likeable_type: "Post", liker_id: current_user.id), data: { turbo_method: :post } %>
  <% end %>
  
  <%= link_to "Add Comment", new_post_comment_path(post_id: post.id) %>
  <% if post.comments %>
    <% post.comments.each do |comment| %>
      <p><%= link_to "#{comment.commenter.name}", profile_path(comment.commenter.profile.id) %>: <%= comment.body %></p>
      <% if comment.commenter == current_user %>
      <%= link_to "Edit Comment", edit_post_comment_path(post, comment)%>
      <%= link_to "Delete Comment", post_comment_path(post, comment), data: { turbo_method: :delete } %>
      <% end %>
    <% end %>
  <% end %>
</div>
