<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "LeisureSphere" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag asset_path("logo.png") %> 
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% flash.each do |name, message | %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>

    <% if current_user %>
      <header>
        <div><%= image_tag  "logos/horizontal_logo_with_ lettering_leisursphere.png", width: "250", class: "header-logo" %></div>
        <nav>
          <%= link_to root_path do %>
            <%= image_tag "icons/home.png", alt: "Sign out", size: "30x30" %>
            <p>Home</p>
          <% end %>

          <%= link_to "/follow" do %>
            <%= image_tag "icons/follow_icon.svg", alt: "Sign out", size: "30x30" %>
            <p>Follow</p>
          <% end %>

          <%= link_to "/following" do %>
            <%= image_tag "icons/followees_icon.svg", alt: "Sign out", size: "30x30" %>
            <p>Following</p>
          <% end %>

          <%= link_to profile_path(current_user.profile.id) do %>
            <% if current_user.profile.profile_picture.attached? %>
              <%= image_tag url_for(current_user.profile.profile_picture.variant(resize_to_fit: [30, 30]).processed) %>
            <% else %>
              <%= image_tag current_user.profile.avatar_url, size: "30x30", alt: "profile-picture"%>
            <% end %>
            <p>My Profile</p>
          <% end %>
        </nav>
        <div>
          <%= button_to destroy_user_session_path, method: :delete do %>
            <%= image_tag "icons/logout.png", alt: "Sign out", size: "25x25" %>
            <p>Log out</p>
          <% end %>
        </div>
      </header>
    <% end %>

    <%= yield %>

    <footer>
      <p>© 2024 LeisureSphere All Rights Reserved.</p>
      <div class="attributions-container">
        <p>See Attributions</p>
        <div class="attributions">
          <p><strong>Attributions:</strong></p>
          <p>Default profile picture: <a href="https://www.vecteezy.com/free-vector/profile-picture">Profile Picture Vectors by Vecteezy</a></p>
          <p>Three dot icon: <a href="https://www.vecteezy.com/free-vector/energy-explosion">Energy Explosion Vectors by Vecteezy</a></p>
          <br>
          <p>Yellow star icon: <a href="https://www.flaticon.com/free-icons/star" title="star icons">Star icons created by Pixel perfect - Flaticon</a></p>
          <p>Transparent star icon: <a href="https://www.flaticon.com/free-icons/star" title="star icons">Star icons created by Pixel perfect - Flaticon</a></p>
          <p>Log out icon: <a href="https://www.flaticon.com/free-icons/logout" title="logout icons">Logout icons created by dmitri13 - Flaticon</a></p>
          <p>Home icon: <a href="https://www.flaticon.com/free-icons/home" title="home icons">Home icons created by Dave Gandy - Flaticon</a></p>
          <br>
          <p>Plus icon: <a href="https://www.svgrepo.com/svg/98700/plus-cross">Plus Cross by SVG REPO</a></p>
          <br>
          <p>Logo symbol: Created by Gemini 2.0 Imagen 3</p>
          <br>
          <p>An a big big thanks to <a href="https://mariosmedia.de/">MARIOS MEDIA </a>for the permission to use his photos for the ImagePost example data!</p>
          <br>
          <p>The other nav bar icons were created by myself on the fly.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
