<main class="devise">
  <div class="flex-container">
    <%=image_tag "logos/vertical_logo_with_lettering_and_slogan_leisuresphere_1250x1250.png", size: "350x350", alt: "" %>

    <div class="form-container">
      <h2>Sign up</h2>
      
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "users/shared/error_messages", resource: resource %>
      
        <div class="stack">
          <div class="field">
            <%= f.label :name, "Username" %><br />
            <%= f.text_field :name %>
          </div>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>
          <div class="field">
            <%= f.label :password %><br>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </div>
      
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
        <div class="stack"><%= render "users/shared/links" %></div>
    </div>
  </div>
</main>
